html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/what-the-hex.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Ubuntu', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 94%;
}

header {
    width: 100%;
    height: 40px;
    background-color: #EDEDED;
}

h1 {
    font-weight: 400;
    margin: 0 20px;
    line-height: 40px;
    font-size: 18px;
    display: inline;
}

header p {
    display: inline;
}

.rightNav {
    float: right;
}

#timer {
    line-height: 40px;
}

#restart {
    margin: 8px 20px;
    width: 100px;
    height: 24px;
}

.board {
    width: 640px;
    height: 640px;
    padding: 15px;
    background-image: linear-gradient(-45deg, #9575CD, #26C6DA);
    border-radius: 16px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card {
    width: 122.5px;
    height: 122.5px;
    background-color: #263238;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin: 15px;
    transition: all 300ms;
    transform: rotateY(180deg);
    color: #093237;
    font-size: 0px;
}

.card.flip {
    transform: rotateY(0);
    background-color: #80DEEA;
    cursor: default;
    font-size: 60px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
}

.card.match {
    background-color: white;
}

.win-modal {
    position: absolute;
    width: 320px;
    height: 180px;
    padding: 20px;
    background-color: white;
    display: none;
    border-radius: 8px;
    box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.3);
}

.win-modal p {
    margin: 0;
}

.win-modal button {
    margin: 0;
    width: 280px;
    height: 40px;
}

#starScore {
    margin: 10px 0;
    text-align: center;
}

/* styles for smaller screens */
@media only screen and (max-height: 700px) {
    .board {
        width: 560px;
        height: 560px;
    }
    
    .card {
        width: 102.5px;
        height: 102.5px;
    }
}